@font-face {
    font-family: overpass;
    src: url("OverpassMono-Regular.ttf");
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: overpass, monospace;
    padding: .5em;
}

#target {
    font-size: 1.2em;
    color: #ccc;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}

.message-container {
    position: relative;
    width: 100%;
    padding: 1em .5em;
    margin: .5em 0;
    background-color: hsl(194, 30%, 35%);
    box-shadow: 1px 2px 5px 0px hsla(194,33%,8%,0.75);
    transition: .3s all ease-in-out;
}

.username-style {
    position: absolute;
    top: -.55em;
    left: 1em;
    padding: .1em .4em;
    background-color: hsl(194, 40%, 26%);
    border-radius: 5px;
    transition: .3s all ease-in-out;
}

.highlighted {
    background-color: hsl(0, 45%, 45%);
}

.highlighted > .username-style {
    background-color: hsl(0, 45%, 25%);
}

.chat-emote {
    display: inline-block;
    padding: .1em;
    margin: -0.1em -0.3em;
    transform: scale(0.85);
}